<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Warnig, <%= @user.first_name %></h1>
    <p>
      You have check all the task and project 
      To check to the site,just follow this link: <%= @url %>.
    </p>
    <p>Thanks for user GTD Task Manager!</p>
  </body>
</html>