<div class="container">
<div class="row">
  <div class="span1"> </div>
    <div class="span2">
      <div class="control-foot">
        <h4><CENTER> INFORMATION</CENTER></h4>
          <hr class="footer-divider">
          <ul class="nav nav-pills nav-stacked quick-links">
            <li><a href="/Tour.html">TOUR</a></li>
            <li><a href="/blog.html">Blog</a></li>
          <ul> 
      </div>          
    </div>
    <div class="span2">
      <div class="control-foot">
        <h4><CENTER>Support</CENTER></h4>
          <hr class="footer-divider">
          <ul class="nav nav-pills nav-stacked quick-links">
            <li><a href="/Contact_us.html">Contact_us </a></li>
            <li><a href="/Faq.html">FAQ</a></li>
          </ul>
      </div>     
    </div>
    <div class="span2">
      <h4><CENTER>Get in touch<CENTER></h4>
        <hr class="footer-divider">
      <div class="social-icons-row">
        <a href="https://twitter.com/"><i class="icon-twitter"></i></a>
        <a href="https://es-es.facebook.com/"><i class="icon-facebook"></i></a>
        <a href="https://accounts.google.com"><i class="icon-google-plus"></i></a>              
        <a href="https://github.com"><i class="icon-github"></i></a>    
      </div> 
    </div>   
    <div class="span1"> </div>
    <div class="span4"> 
      <h4> subscribe to magazine: </h4>
      <input type="text" name="Revista"><br>
    </div>     
  </div>
</div>
<hr class="footer-divider">
<div class="container">
  &copy; 2013-3000 GTD task Manager, Inc. All Rights Reserved.
  
  