<div class="container">
<div class="row">
    <div class="span4">
      <h4><i class="icon-beaker icon-white"></i> GTD TASK MANAGER</h4>
      <nav>
        <ul class="quick-links">
          <li><a href="/Tour.html">TOUR</a></li>
          <li><a href="/blog.html">Blog</a></li>
        <ul>
      </nav>          
    </div>
    <div class="span4">
      <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
      <nav>
        <ul class="quick-links">
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/contact_us.html">Contact us</a></li>            
        </ul>
      </nav>     
    </div>
    <div class="span4">
      <h4><i class="icon-thumbs-up icon-white"></i> Get in touch</h4>
      <div class="social-icons-row">
        <a href="https://twitter.com/"><i class="icon-twitter"></i></a>
        <a href="https://es-es.facebook.com/"><i class="icon-facebook"></i></a>
        <a href="http://es.linkedin.com/"><i class="icon-linkedin"></i></a>                                         
      </div>
      <div class="social-icons-row">
        <a href="https://accounts.google.com"><i class="icon-google-plus"></i></a>              
        <a href="https://github.com"><i class="icon-github"></i></a>
        <a href="mailto:soundar.aythamirm@gmail.com"><i class="icon-envelope"></i></a>        
      </div>
      <div class="social-icons-row">
        <i class="icon-phone icon-large phone-number"></i> +1975023432
      </div>
    </div>      
  </div>
</div>
<hr class="footer-divider">
<div class="container">
  <p>&copy; 2013-3000 GTD task Manager, Inc. All Rights Reserved.</p>